.desktop-1 .home-1 {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 48px;
  color: #000000;
}
.desktop-1 .rectangle-2 {
  background: linear-gradient(90deg, #0FFFFF, #0B06FF);
  width: 1px;
  height: 3px;
}
.desktop-1 .rectangle-3 {
  background: linear-gradient(90deg, #0FFFFF, #0B06FF);
  width: 1px;
  height: 3px;
}
.desktop-1 .container-3 {
  margin-right: 12.8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 116px;
  box-sizing: border-box;
}
.desktop-1 .home {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-1 .about-3 {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 48px;
  color: #000000;
}
.desktop-1 .rectangle-4 {
  background: linear-gradient(90deg, #0FFFFF, #0B06FF);
  width: 1px;
  height: 3px;
}
.desktop-1 .rectangle-5 {
  background: linear-gradient(90deg, #0FFFFF, #0B06FF);
  width: 1px;
  height: 3px;
}
.desktop-1 .container-2 {
  margin-right: 10.7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 118px;
  box-sizing: border-box;
}
.desktop-1 .about {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-1 .services-3 {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 48px;
  color: #000000;
}
.desktop-1 .rectangle-6 {
  background: linear-gradient(90deg, #0FFFFF, #0B06FF);
  width: 1px;
  height: 3px;
}
.desktop-1 .rectangle-7 {
  background: linear-gradient(90deg, #0FFFFF, #0B06FF);
  width: 1px;
  height: 3px;
}
.desktop-1 .container-5 {
  margin-right: 15.7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 168px;
  box-sizing: border-box;
}
.desktop-1 .services {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-1 .contacts-2 {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 48px;
  color: #000000;
}
.desktop-1 .rectangle-8 {
  background: linear-gradient(90deg, #0FFFFF, #0B06FF);
  width: 1px;
  height: 3px;
}
.desktop-1 .rectangle-9 {
  background: linear-gradient(90deg, #0FFFFF, #0B06FF);
  width: 1px;
  height: 3px;
}
.desktop-1 .container-6 {
  margin-right: 16.9px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 176px;
  box-sizing: border-box;
}
.desktop-1 .contacts-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-1 .tabs {
  margin: 0 123.1px 647px 123.1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1092px;
  box-sizing: border-box;
}
.desktop-1 .rectangle-12 {
  mix-blend-mode: darken;
  background: rgba(3, 223, 253, 0.61);
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.desktop-1 .rectangle-234 {
  border-radius: 100px;
  border: 2px solid #FFFFFF;
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 527px;
  right: 31px;
  width: 153px;
  height: 32px;
}
.desktop-1 .back-to-top-4 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 24px;
  color: #FFFFFF;
}
.desktop-1 .pitch-2-after-delay {
  position: relative;
  margin-left: 1px;
  display: flex;
  padding: 529px 41.4px 16px 41.4px;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .rectangle-15 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.desktop-1 .rectangle-233 {
  border-radius: 100px;
  border: 2px solid #FFFFFF;
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 479px;
  right: 36px;
  width: 153px;
  height: 32px;
}
.desktop-1 .back-to-top-3 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 24px;
  color: #FFFFFF;
}
.desktop-1 .pitch-3-after-delay {
  position: relative;
  margin: 0 1px 0.4px 0;
  display: flex;
  padding: 481px 46.4px 18px 46.4px;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .services-2 {
  margin: 0 16.6px 20.7px 0;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 96px;
  color: #FFFFFF;
}
.desktop-1 .web-design-1 {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 50px;
  color: #000000;
}
.desktop-1 .web-design {
  border-radius: 50px;
  background: #FFFFFF;
  position: relative;
  margin-right: 79px;
  display: flex;
  padding: 49.3px 0 0 28.7px;
  width: 631px;
  height: 683.5px;
  box-sizing: border-box;
}
.desktop-1 .web-development-1 {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 50px;
  color: #000000;
}
.desktop-1 .web-development {
  border-radius: 50px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding: 42.9px 0 0 69.6px;
  width: 631px;
  height: 683.5px;
  box-sizing: border-box;
}
.desktop-1 .container-1 {
  margin: 0 14px 79.6px 0;
  display: flex;
  flex-direction: row;
  width: 1341px;
  box-sizing: border-box;
}
.desktop-1 .thumbnails {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 50px;
  color: #000000;
}
.desktop-1 .editing {
  border-radius: 50px;
  background: #FFFFFF;
  position: relative;
  margin-right: 91px;
  display: flex;
  padding: 42.9px 48.7px 0 0;
  width: 622px;
  height: 683.5px;
  box-sizing: border-box;
}
.desktop-1 .copyrighting-1 {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 50px;
  color: #000000;
}
.desktop-1 .copyrighting {
  border-radius: 50px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding: 49.3px 0 0 18.7px;
  width: 619px;
  height: 683.5px;
  box-sizing: border-box;
}
.desktop-1 .container-9 {
  margin: 0 14px 107.2px 9px;
  display: flex;
  flex-direction: row;
  width: 1332px;
  box-sizing: border-box;
}
.desktop-1 .back-to-top {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 24px;
  color: #FFFFFF;
}
.desktop-1 .back-to-top-for-services {
  border-radius: 100px;
  border: 2px solid #FFFFFF;
  background: rgba(0, 0, 0, 0.25);
  position: relative;
  display: flex;
  padding: 2px 10.4px;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .services-1 {
  background: rgba(0, 0, 0, 0.76);
  position: relative;
  margin: 0 0 0.7px 1px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 42.2px 23px 14.3px 40px;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .about-2 {
  margin: 0 6px 24.5px 0;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 98px;
  color: #000000;
}
.desktop-1 .every-opportunities-comes-in-different-shapes-and-sizes-here-in-this-website-you-will-find-the-service-that-you-want-and-with-my-help-iwill-ensure-that-the-service-will-be-rendered-as-afree-agent-my-priorities-are-to-the-tasks-that-are-assign-to-me-and-that-it-will-represent-your-business-work-and-yourself-my-skills-as-an-agent-are-web-design-web-development-editing-copyrighting-iput-maximum-effort-with-compensating-your-desired-needs-ilike-to-do-the-jobs-given-to-me-with-caution-and-that-it-is-done-with-the-right-quality-with-the-best-prices {
  margin: 0 8px 490px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.desktop-1 .back-to-top-1 {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 24px;
  color: #FFFFFF;
}
.desktop-1 .back-to-top-for-about {
  border-radius: 100px;
  border: 2px solid #FFFFFF;
  background: rgba(0, 0, 0, 0.25);
  position: relative;
  display: flex;
  padding: 2px 10.4px;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .container-10 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}
.desktop-1 .the-ultimate-hr-guide-for-anew-employee-5-key-hr-policies {
  border-radius: 40px;
  background: url('../assets/images/the_ultimate_hr_guide_for_anew_employee_5_key_hr_policies.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: 85px;
  bottom: 177px;
  width: 514px;
  height: 412px;
}
.desktop-1 .premium-vector-business-deal-handshake {
  border-radius: 40px;
  background: url('../assets/images/premium_vector_business_deal_handshake.jpeg') 50% / cover no-repeat;
  position: absolute;
  right: 158px;
  bottom: 135px;
  width: 514px;
  height: 454px;
}
.desktop-1 .about-1 {
  background: rgba(250, 127, 14, 0.88);
  position: relative;
  margin: 0 1px 112px 0;
  display: flex;
  padding: 16.5px 22px 14px 32px;
  box-sizing: border-box;
}
.desktop-1 .contact {
  margin: 0 167px 86px 0;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 96px;
  color: #000000;
}
.desktop-1 .phone {
  background: url('../assets/images/phone.png') 50% / contain no-repeat;
  margin-right: 18px;
  width: 87.9px;
  height: 110.2px;
}
.desktop-1 .container {
  margin: 27px 0 27.3px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 48px;
  color: #000000;
}
.desktop-1 .call {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.desktop-1 .email {
  background: url('../assets/images/email.png') 50% / contain no-repeat;
  margin-right: 22px;
  width: 80.3px;
  height: 101.4px;
}
.desktop-1 .basihttaofik-23-gmail-com {
  margin: 30.6px 0 14.8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 48px;
  text-decoration-line: underline;
  color: #000000;
}
.desktop-1 .email-adress {
  margin: 4px 0 4.9px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.desktop-1 .container-4 {
  margin: 0 17.7px 91.8px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1324.3px;
  box-sizing: border-box;
}
.desktop-1 .whats-app {
  background: url('../assets/images/whats_app.png') 50% / contain no-repeat;
  margin-right: 34.7px;
  width: 87.9px;
  height: 110.2px;
}
.desktop-1 .container-1 {
  margin: 26.9px 0 27.3px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 48px;
  color: #000000;
}
.desktop-1 .whatsapp {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.desktop-1 .facebook-1 {
  background: url('../assets/images/facebook.png') 50% / contain no-repeat;
  margin-right: 24px;
  width: 87.9px;
  height: 110.2px;
}
.desktop-1 .re-destiny {
  margin: 27.4px 0 26.9px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 48px;
  text-decoration-line: underline;
  color: #000000;
}
.desktop-1 .facebook {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.desktop-1 .container {
  margin: 0 6px 91.8px 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 990px;
  box-sizing: border-box;
}
.desktop-1 .instagram-1 {
  background: url('../assets/images/instagram.png') 50% / contain no-repeat;
  margin-right: 26.5px;
  width: 87.9px;
  height: 110.2px;
}
.desktop-1 .real-basiht-139 {
  margin: 26.6px 0 27.7px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 48px;
  text-decoration-line: underline;
  color: #000000;
}
.desktop-1 .instagram {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.desktop-1 .tik-tok {
  background: url('../assets/images/tik_tok.png') 50% / contain no-repeat;
  margin-right: 18.1px;
  width: 87.9px;
  height: 110.2px;
}
.desktop-1 .minus-07 {
  margin: 26.4px 0 27.8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 48px;
  text-decoration-line: underline;
  color: #000000;
}
.desktop-1 .tik-tok-1 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.desktop-1 .container-7 {
  margin-bottom: 55.8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 1116.8px;
  box-sizing: border-box;
}
.desktop-1 .back-to-top-2 {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 24px;
  color: #000000;
}
.desktop-1 .back-to-top-for-contacts {
  border-radius: 100px;
  border: 2px solid rgba(0, 0, 0, 0.76);
  background: #FFFFFF;
  position: relative;
  display: flex;
  align-self: flex-end;
  padding: 2px 12.4px;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .contacts {
  margin: 0 19px 0 58px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .container-8 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 1419px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-1 .rectangle-10 {
  mix-blend-mode: darken;
  background: linear-gradient(180deg, rgba(250, 255, 5, 0.37), rgba(237, 241, 16, 0.37));
  width: 1418px;
  height: 711px;
}
.desktop-1 .pitch-1-after-delay {
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  display: flex;
  width: 1418px;
  height: 711px;
  box-sizing: border-box;
}
.desktop-1 {
  background: #FFFFFF;
  display: flex;
  padding: 4px 0 16px 0;
  width: 1418px;
  box-sizing: border-box;
}
