.property-1-about-above .about {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 48px;
  color: #000000;
}
.property-1-about-above .rectangle-4 {
  background: linear-gradient(90deg, #0FFFFF, #0B06FF);
  width: 1px;
  height: 3px;
}
.property-1-about-above .rectangle-5 {
  background: linear-gradient(90deg, #0FFFFF, #0B06FF);
  width: 1px;
  height: 3px;
}
.property-1-about-above .container {
  margin-right: 10.7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 10.7px);
  box-sizing: border-box;
}
.property-1-about-above {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
