.property-1-contacts-below .contacts {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 48px;
  color: #000000;
}
.property-1-contacts-below .rectangle-8 {
  background: linear-gradient(90deg, #0FFFFF, #0B06FF);
  height: 3px;
  flex-grow: 1;
  flex-basis: 92px;
}
.property-1-contacts-below .rectangle-9 {
  background: linear-gradient(90deg, #0B06FF, #0FFFFF);
  height: 3px;
  flex-grow: 1;
  flex-basis: 84px;
}
.property-1-contacts-below .container {
  margin-right: 16.9px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 16.9px);
  box-sizing: border-box;
}
.property-1-contacts-below {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
