.property-1-home-below .home {
  margin: 0 0 1px 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 48px;
  color: #000000;
}
.property-1-home-below .rectangle-2 {
  background: linear-gradient(90deg, #0FFFFF, #0B06FF);
  height: 3px;
  flex-grow: 1;
  flex-basis: 61px;
}
.property-1-home-below .rectangle-3 {
  background: linear-gradient(90deg, #0B06FF, #0FFFFF);
  height: 3px;
  flex-grow: 1;
  flex-basis: 61px;
}
.property-1-home-below .container {
  margin-right: 8.8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 8.8px);
  box-sizing: border-box;
}
.property-1-home-below {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
