.property-1-thumbnails .thumbnails {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 50px;
  color: #000000;
}
.property-1-thumbnails {
  border-radius: 50px;
  background: #FFFFFF;
  display: flex;
  padding: 45px 0 0 64.1px;
  box-sizing: border-box;
}
