.property-1-contacts-above .contacts {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 48px;
  color: #000000;
}
.property-1-contacts-above .rectangle-8 {
  background: linear-gradient(90deg, #0FFFFF, #0B06FF);
  width: 1px;
  height: 3px;
}
.property-1-contacts-above .rectangle-9 {
  background: linear-gradient(90deg, #0FFFFF, #0B06FF);
  width: 1px;
  height: 3px;
}
.property-1-contacts-above .container {
  margin-right: 16.9px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 16.9px);
  box-sizing: border-box;
}
.property-1-contacts-above {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
